<!-- template page for search results  -->
<!doctype html>
<html>

<head>
    <title>
        <%=shopName%>: Search Result
    </title>
    <link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
    <h1>
        <%=shopName%>: Search Result
    </h1>
    <ul>
        <% for(var i=0; i< result.length; i++) {%>
            <li>
                <a>
                    <b>Title: </b>
                    <%=result[i].name%>
                        <br>
                        <b> Price: </b>
                        £ <%=result[i].price%>
                </a>
            </li>
            <br>
            <%}%>
    </ul>
</body>

</html>